/MosaicIt.pro.user
/MosaicIt.pro.user.3.0-pre1
/MosaicIt.pro.user.3.2-pre1
/Win32/Debug
/doc/end-user/html/engl/pics/Thumbs.db
/doc/end-user/html/ger/pics/Thumbs.db
/gfx_work/Thumbs.db
/ico_src/Thumbs.db
/bundled_resources/Thumbs.db
/MosaicIt.pro.user.18
/unittests/build-UnitTests-Qt_5_4_0_for_Windows_Runtime_64bit-Debug
